*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.time-body > div
{
    margin-top: 20px;
}

.time-body
{
    background-color: rgb(192, 189, 189);
    padding: 10px;
}

button
{
    background-color: rgb(13, 185, 13);
    padding: 10px;
    border: none;
    border-radius: 6px;
}